.catalog-card {
	margin: 33px 0;
	@include clearfix;
	&__img {
		width: 30.5%;
		margin-right: 4.3%;
		margin-bottom: 4px;
		display: inline-block;
		float: left;
		text-align: center;
		@include border(7,bs,$bkg: #fff);
		img {
			display: inline;
			margin: 25px 0;
		}
		@include breakpoint(small){
			width: 20%;
			img {
				padding: 10px;
				margin: 0;
			}
		}
	}
	&__descr {
		width: 65.2%;
		float: left;
		@include breakpoint(tablet){
			font-size: 0.9em;
		}
		@include breakpoint(small){
			float: none;
			width: auto;
		}
	}
	&__back {
		text-align: right;
		margin-top: 13px;
		@include breakpoint(tablet) {
			margin-top: 0;
		}
	}
}
.descr-block {
	border-top: 1px solid #fff;
	padding: 10px 0 12px;
	@include breakpoint(small) {
		padding: 5px 0;
		border-top: 0;
	}
	&:first-child {
		border-top: 0;
		padding-top: 0;
		margin-top: -4px;
	}
	&__title {
		@include font(20,26);
	}
	&__props {
		span {
			color: #997a5c;
			@include font(20,26);
			display: block;
		}
	}
	.tags {
		margin: 0 -10px;
		@include breakpoint(tablet){
			margin: 0 -2px;
		}
		&__item {
			background: #f9eed2;
			color: #997a5c;
			border: 1px solid #fff;
			margin: 5px 10px;
			@include breakpoint(tablet){
				margin: 2px;
			}
			&:hover,
			&:focus,
			&--act {
				color: #fff;
				background: $red;
			}
		}
	}
}
.see-also {
	margin-bottom: 30px;
	&__title {
		@include font(24,28,700,$font: $pt-serif);
		color: $red;
		margin-bottom: 15px;
	}
	.catalog {
		padding: 0 40px;
	}
}
