.catalog {
	position: relative;
	margin-bottom: 20px;
	@include clearfix;
	@include breakpoint(mobile){
		padding: 0 8.33333%;
	}
	.card {
		height: 100%;
		padding: 10px;
		@include layout(table);
		&__item {
			&:last-child {
				vertical-align: top;
				padding-left: 15px;
			}
		}
		img {
			max-width: inherit;
		}
		h4 {
			margin-top: 60px;
			margin-bottom: 10px;
			color: #5d3d14;
			transition: all 0.3s ease-in;
		}
		span {
			color: $broun;
			@include font(16,22);
			transition: all 0.3s ease-in;
		}
	}
	&__item {
		border: 0;
		display: block;
		margin: 14px 0;
		@include border(7, bs, hover, #fff);
		&:hover,
		&:active,
		&:focus {
			border: 0;
			h4 {
				color: $red;
			}
			span {
				color: $default-color;
			}
		}
	}
}
