.footer {
	padding: 10px 0 25px;
	@include font(14,18);
	color: #a78c68;
	text-align: center;
	&__warning {
		color: #fff;
		text-transform: uppercase;
		@include font(28,32,700,14);
		margin-bottom: 15px;
		@include breakpoint (tablet) {
			@include font(22,24,700,14);
		}
		@include breakpoint (small) {
			@include font(18,22,700,14);
		}
	}
	a {
		color: #a78c68;
		border: 0;
		&:hover {
			border: 0;
			text-decoration: underline;
		}
	}
}
