.header {
	position: relative;
	.cabinet-outer {
		@include breakpoint(mobile) {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}
}
.top-panel {
	padding: 5px 0;
	background: #fff9e9;
}
.search {
	position: relative;
	&__input {
		padding: 0 30px 0 10px;
		background: #fff;
		border: 0;
		color: #b7a390;
		width: 100%;
		@include font(13,25);
	}
	&__submit {
		position: absolute;
		top: 5px;
		right: 6px;
		border: 0;
		text-indent: -9999px;
		background: none;
		@include sprite($ico-search);
	}
}

.soc {
	line-height: 0;
	font-size: 0;
	@include breakpoint(mobile) {
		margin-top: 3px;
		text-align: right;
	}
	&__item {
		text-indent: -9999px;
		text-decoration: none;
		border: 0;
		margin-left: 10px;
		@include breakpoint(mobile) {
			margin-left: 0;
		}
		&:first-child {
			margin-left:0;
			@include breakpoint(mobile) {
				position: relative;
				left: -12px;
			}
		}
		&--fb {
			@include sprite($ico-fb);
		}
		&--in {
			@include sprite($ico-in);
		}
		transition: transform 0.3s ease-out;
		&:hover {
			transform: translateY(-2px);
			text-decoration: none;
			border: 0;
		}
	}
}
.personal-cabinet {
	text-align: right;
	a {
		@include font(16,16);
		margin-left: 20px;
		position: relative;
		@include breakpoint(mobile) {
			@include font(18,32);
		}
		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left: -20px;
			@include sprite($ico-key);
			@include breakpoint(mobile) {
				top: 7px;
			}
		}
	}
}
.header-inner {
	@include layout(table);
	padding: 25px 0 30px;
	@include breakpoint(tablet) {
		padding: 15px 0;
	}
	@include breakpoint(mobile){
		@include layout(block);
	}
	.site-logo {
		border: 0;
	}
	address {
		text-align: right;
		@include breakpoint(mobile){
			text-align: left;
		}
		.contacts {
			padding-left: 30px;
			@include breakpoint(tablet){
				font-size: 0.9em;
			}
			@include breakpoint(mobile) {
				padding-left: 0;
				font-size: 0.75em;
			}
			&__phone {
				color: $dark;
				@include font(32,34);
				margin: 6px 0;
			}
			&__addr {
				@include font(20,22);
				color: $deep-broun;
			}
			&__time {
				@include font(16,22);
				color: #847669;
				@include breakpoint(mobile){
					@include font(22);
				}
			}
		}
	}
}
