.menu-panel {
	background: #fff;
	@include breakpoint(mobile) {
		background: #fff9e9;
		height: 32px;
	}
}
.menu-outer {
	//position: relative;
	margin: 0 -18px;
}
.site-nav {
	@include layout(table);
	@include breakpoint(tablet){
		font-size: 0.9em;
	}
	@include breakpoint(mobile){
		@include layout(block);
		font-size: 1em;
		display: none;
		position: relative;
		z-index: 1000;
		background: #fff;
	}
	&__item {
		height: 100%;
		&:last-child {
			text-align: right;
		}
	}
	a {
		@include font(14,16,700,$font: $pt-serif);
		color: $dark;
		text-transform: uppercase;
		text-align: center;
		padding: 25px 18px;
		border: 0;
		transition: all 0.3s ease-in;
		position: relative;
		display: block;
		height: 100%;
		@include breakpoint(tablet) {
			font-weight: 400;
			padding: 10px 7px;
		}
		@include breakpoint(mobile) {
			border-top: 1px solid #f1e9e0;
			font-weight: 700;
			margin: 0 15px;
		}
		&::after,
		&::before {
			content: " ";
			position: absolute;
			left: 0;
			right: 0;
			transition: all 0.3s ease-in;
			background: #fff;
			z-index: 5;
			@include breakpoint(mobile){
				display: none;
			}
		}
		&::after {
			bottom: 0;
			height: 9px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}

		&::before {
			bottom: 3px;
			height: 0;
		}
		&:hover {
			background: #ac221b;
			color: #fff;
			&::after {
				bottom: -9px;
				background: #800903;
			}
			&::before {
				height: 2px;
				background: #800903;
			}
		}

	}
}
