.breadcrumbs {
	margin-top: 30px;
	color: #bba890;
	@include font(14, 16);
	@include breakpoint(mobile){
		margin-top: 15px;
	}
	&__item {
		color: #bba890;
		text-decoration: underline;
		border: 0;
		margin-right: 4px;
		&:hover {
			text-decoration: none;
			border: 0;
			color: #bba890;
		}
		&:last-child {
			text-decoration: none;
		}
	}
}
