
.slider-wrapp {
	position: relative;
	max-width: 1400px;
	margin: 0 auto;
}
/**** SLIDER ****/
.slider {
	&__item {
		position: relative;
	}
	&__inner {
		@include aligner;
	}
}
/**** ARROWS ****/
.slider-arrow {
	position: absolute;
	text-indent: -99999px;
	padding: 0;
	border: 0;
	line-height: 0;
	top: calc(50% - 30px);
	background-color: transparent;
	&:hover {
		cursor: pointer;
	}
	&.left,
	&.prev{
		left: 13px;
		@include sprite($arrow_left);
		@include breakpoint(small){
			left: 6px;
		}
	}
	&.right,
	&.next{
		right: 13px;
		@include sprite($arrow_right);
		@include breakpoint(small){
			right: 6px;
		}
	}
	&.prev {
		left: 0;
		@include breakpoint(small){
			left: -12px;
		}
	}
	&.next {
		right: 0;
		@include breakpoint(small){
			right: -12px;
		}
	}
}
/**** DOTS ****/
.slider-dots {
	position: absolute;
	bottom: -40px;
	left: 0;
	right: 0;
	text-align: center;
}
.slick-dots {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	li {
		display: inline-block;
		margin: 0 3px;
		button {
			text-indent: -9999px;
			border: 0;
			padding: 0;
			background-color: transparent;
			@include sprite($dot);
		}
		&.slick-active {
			button {
				@include sprite($dot_act);
			}
		}
		&:hover {
			button {
				@include sprite($dot_act);
			}
		}
	}

}


