// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$arrow-left-name: 'arrow_left';
$arrow-left-x: 0px;
$arrow-left-y: 0px;
$arrow-left-offset-x: 0px;
$arrow-left-offset-y: 0px;
$arrow-left-width: 35px;
$arrow-left-height: 59px;
$arrow-left-total-width: 110px;
$arrow-left-total-height: 80px;
$arrow-left-image: '../images/sprite.png';
$arrow-left: (0px, 0px, 0px, 0px, 35px, 59px, 110px, 80px, '../images/sprite.png', 'arrow_left', );
$arrow-right-name: 'arrow_right';
$arrow-right-x: 35px;
$arrow-right-y: 0px;
$arrow-right-offset-x: -35px;
$arrow-right-offset-y: 0px;
$arrow-right-width: 35px;
$arrow-right-height: 59px;
$arrow-right-total-width: 110px;
$arrow-right-total-height: 80px;
$arrow-right-image: '../images/sprite.png';
$arrow-right: (35px, 0px, -35px, 0px, 35px, 59px, 110px, 80px, '../images/sprite.png', 'arrow_right', );
$dot-act-name: 'dot_act';
$dot-act-x: 94px;
$dot-act-y: 16px;
$dot-act-offset-x: -94px;
$dot-act-offset-y: -16px;
$dot-act-width: 16px;
$dot-act-height: 16px;
$dot-act-total-width: 110px;
$dot-act-total-height: 80px;
$dot-act-image: '../images/sprite.png';
$dot-act: (94px, 16px, -94px, -16px, 16px, 16px, 110px, 80px, '../images/sprite.png', 'dot_act', );
$dot-name: 'dot';
$dot-x: 94px;
$dot-y: 0px;
$dot-offset-x: -94px;
$dot-offset-y: 0px;
$dot-width: 16px;
$dot-height: 16px;
$dot-total-width: 110px;
$dot-total-height: 80px;
$dot-image: '../images/sprite.png';
$dot: (94px, 0px, -94px, 0px, 16px, 16px, 110px, 80px, '../images/sprite.png', 'dot', );
$ico-arrow-big-name: 'ico-arrow-big';
$ico-arrow-big-x: 70px;
$ico-arrow-big-y: 48px;
$ico-arrow-big-offset-x: -70px;
$ico-arrow-big-offset-y: -48px;
$ico-arrow-big-width: 22px;
$ico-arrow-big-height: 7px;
$ico-arrow-big-total-width: 110px;
$ico-arrow-big-total-height: 80px;
$ico-arrow-big-image: '../images/sprite.png';
$ico-arrow-big: (70px, 48px, -70px, -48px, 22px, 7px, 110px, 80px, '../images/sprite.png', 'ico-arrow-big', );
$ico-arrow-hov-name: 'ico-arrow-hov';
$ico-arrow-hov-x: 50px;
$ico-arrow-hov-y: 59px;
$ico-arrow-hov-offset-x: -50px;
$ico-arrow-hov-offset-y: -59px;
$ico-arrow-hov-width: 18px;
$ico-arrow-hov-height: 6px;
$ico-arrow-hov-total-width: 110px;
$ico-arrow-hov-total-height: 80px;
$ico-arrow-hov-image: '../images/sprite.png';
$ico-arrow-hov: (50px, 59px, -50px, -59px, 18px, 6px, 110px, 80px, '../images/sprite.png', 'ico-arrow-hov', );
$ico-arrow-name: 'ico-arrow';
$ico-arrow-x: 68px;
$ico-arrow-y: 59px;
$ico-arrow-offset-x: -68px;
$ico-arrow-offset-y: -59px;
$ico-arrow-width: 18px;
$ico-arrow-height: 6px;
$ico-arrow-total-width: 110px;
$ico-arrow-total-height: 80px;
$ico-arrow-image: '../images/sprite.png';
$ico-arrow: (68px, 59px, -68px, -59px, 18px, 6px, 110px, 80px, '../images/sprite.png', 'ico-arrow', );
$ico-checkbox-off-name: 'ico-checkbox-off';
$ico-checkbox-off-x: 16px;
$ico-checkbox-off-y: 59px;
$ico-checkbox-off-offset-x: -16px;
$ico-checkbox-off-offset-y: -59px;
$ico-checkbox-off-width: 16px;
$ico-checkbox-off-height: 21px;
$ico-checkbox-off-total-width: 110px;
$ico-checkbox-off-total-height: 80px;
$ico-checkbox-off-image: '../images/sprite.png';
$ico-checkbox-off: (16px, 59px, -16px, -59px, 16px, 21px, 110px, 80px, '../images/sprite.png', 'ico-checkbox-off', );
$ico-checkbox-on-name: 'ico-checkbox-on';
$ico-checkbox-on-x: 0px;
$ico-checkbox-on-y: 59px;
$ico-checkbox-on-offset-x: 0px;
$ico-checkbox-on-offset-y: -59px;
$ico-checkbox-on-width: 16px;
$ico-checkbox-on-height: 21px;
$ico-checkbox-on-total-width: 110px;
$ico-checkbox-on-total-height: 80px;
$ico-checkbox-on-image: '../images/sprite.png';
$ico-checkbox-on: (0px, 59px, 0px, -59px, 16px, 21px, 110px, 80px, '../images/sprite.png', 'ico-checkbox-on', );
$ico-fb-name: 'ico-fb';
$ico-fb-x: 70px;
$ico-fb-y: 24px;
$ico-fb-offset-x: -70px;
$ico-fb-offset-y: -24px;
$ico-fb-width: 24px;
$ico-fb-height: 24px;
$ico-fb-total-width: 110px;
$ico-fb-total-height: 80px;
$ico-fb-image: '../images/sprite.png';
$ico-fb: (70px, 24px, -70px, -24px, 24px, 24px, 110px, 80px, '../images/sprite.png', 'ico-fb', );
$ico-in-name: 'ico-in';
$ico-in-x: 70px;
$ico-in-y: 0px;
$ico-in-offset-x: -70px;
$ico-in-offset-y: 0px;
$ico-in-width: 24px;
$ico-in-height: 24px;
$ico-in-total-width: 110px;
$ico-in-total-height: 80px;
$ico-in-image: '../images/sprite.png';
$ico-in: (70px, 0px, -70px, 0px, 24px, 24px, 110px, 80px, '../images/sprite.png', 'ico-in', );
$ico-key-name: 'ico-key';
$ico-key-x: 94px;
$ico-key-y: 32px;
$ico-key-offset-x: -94px;
$ico-key-offset-y: -32px;
$ico-key-width: 16px;
$ico-key-height: 16px;
$ico-key-total-width: 110px;
$ico-key-total-height: 80px;
$ico-key-image: '../images/sprite.png';
$ico-key: (94px, 32px, -94px, -32px, 16px, 16px, 110px, 80px, '../images/sprite.png', 'ico-key', );
$ico-search-name: 'ico-search';
$ico-search-x: 32px;
$ico-search-y: 59px;
$ico-search-offset-x: -32px;
$ico-search-offset-y: -59px;
$ico-search-width: 18px;
$ico-search-height: 15px;
$ico-search-total-width: 110px;
$ico-search-total-height: 80px;
$ico-search-image: '../images/sprite.png';
$ico-search: (32px, 59px, -32px, -59px, 18px, 15px, 110px, 80px, '../images/sprite.png', 'ico-search', );
$spritesheet-width: 110px;
$spritesheet-height: 80px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-left, $arrow-right, $dot-act, $dot, $ico-arrow-big, $ico-arrow-hov, $ico-arrow, $ico-checkbox-off, $ico-checkbox-on, $ico-fb, $ico-in, $ico-key, $ico-search, );
$spritesheet: (110px, 80px, '../images/sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
