 /* Fonts */
$pt-sans: 'PT Sans', sans-serif;
$pt-serif: 'PT Serif', serif;
$default-font: $pt-sans;
$base-font-size: 16;
$base-line-height: 26;

/* Colors */
$default-color: #242424;
$red: #ac221b;
$dark: #3f230d;
$grey: #555;
$broun: #876e4d;
$deep-broun: #56381b;
$link: $red;
//$link-hov: #ac221b;

$header: $red;

/* Components */
$c-humburger-color: $red;
$scroll-up-color: $red;
