 /* Fonts */
$pt-sans: 'PT Sans', sans-serif;
$pt-serif: 'PT Serif', serif;
$default-font: $pt-sans;
$base-font-size: 15;
$base-line-height: 22;

/* Colors */
$default-color: #242424;
$red: #ac221b;
$dark: #3f230d;
$grey: #555;
$link: $red;
//$link-hov: #ac221b;

$header: $red;

/* Components */
$c-humburger-color: $red;
$scroll-up-color: $red;
